.skeleton {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #ddd;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
  user-select: none;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}